.navbarWrapper {
    width: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    min-height: 60px;
    color: var(--black-shade);
}

.leftNavbarWrapper {
    padding: 0 16px;
    flex: 0 0 auto;
    display: inline-block;
}

.logoWrapper {
    line-height: normal;
    vertical-align: middle;
    margin-right: 12px;
    display: inline-block;
    width: 88.98px;
    height: 36.99px;
}

.logoImg {
    width: 100%;
    height: 100%;
}

.otherLeftOption {
    vertical-align: middle;
    margin-left: 12px;
    display: inline-block;
}

.listOfOtherLeftOption {
    list-style-type: none;
}

.listOfOtherLeftOption>li {
    display: inline-block;
}

.option {
    padding-left: 24px;
    margin-right: 4px;
    margin-left: 8px;
    display: inline-block;
    line-height: 56px;
    position: relative;
}

.redTagMemu {
    position: absolute;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
    width: max-content;
    line-height: 0;
    padding: 4px;
    color: var(--white);
    background-color: var(--red-tag);
    border-radius: 2px;
}

.redTagMemu::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    border-top: 5px solid var(--red-tag);
    border-left: 5px solid transparent;
}

.redTagMemu>span {
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
}

.menuLink {

    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-weight: unset;
    color: var(--black-shade);
    letter-spacing: 0.3px;
}

.menuLink:hover {
    color: var(--light-blue);
}

.menuWithIcon {
    margin-right: 4px;
    vertical-align: middle;
}

.rightNavbarWrapper {
    flex: 1 1 0%;
    min-width: unset;
    justify-content: flex-end;
    display: inline-flex;
}

.listYourPlaceBtn {
    font-size: 13px;
    background-color: var(--white);
    align-self: center;
    white-space: nowrap;
    border: 1px solid var(--pink);
    color: var(--pink);
    padding: 12px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.listYourPlaceBtn:hover {
    background-color: var(--pink);
    color: var(--white);
}

.centerdiv, .currency {
    padding: 16px;
    -webkit-box-align: center;
    align-items: center;
    align-self: center;
    display: flex;
}

.countryOptionImg {
    scale: 0.5;
}

.loginSignupBtnWrapper {
    margin: 0 8px;
}

.loginSignupBtnHolder {
    margin-right: 8px;
}

.loginSignupBtnHolder > button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.loginBtn {
    padding: 12px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: var(--white);
    color: var(--light-blue);
    border: none;
}

.loginBtn:hover, .signupBtn:hover {
    background-color: var(--light-blue);
    color: var(--white);
    cursor: pointer;
}

.signupBtn {
    padding: 12px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: var(--white);
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}
