.userDetailsWrapper {
    padding-top: 32px;
    padding-bottom: 8px;
    display: block;
}

.userDetailsWrapper > h1 {
    letter-spacing: .9px;
    color: #333;
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
    font-weight: 200;
}

/* Name Component */

.nameComponent {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    letter-spacing: .6px;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.78;
    margin-bottom: 10px;
    color: #5a5b5b;
    /* background-image: linear-gradient(90deg,#a6e66c,#bdf488); */
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);

}

.displayNameComponent {
    height: 103px;
    padding: 24px 20px;
}

.displayNameComponent > div {
    width: 55px;
    height: 55px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 55px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayName {
    float: left;
    letter-spacing: .6px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.78;
}

.displayName > div > h2 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 2.04;
    letter-spacing: .6px;
}

.displayName > div > span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: .6px;
    color: #5a5b5b;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.78;
}

.editnameComponent {
    margin-left: auto;
    margin-right: 16px;
    cursor: pointer;
}

.nameComponentChange {
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);

}

.nameComponentChange > div{
    padding: 24px 20px;
}

.formLabal {
    font-size: 14px;
    font-weight: 700;
    line-height: 2.04;
    color: #5a5b5b;
}

.form-control {
    width: 443px;
    height: 45px;
    margin: 10px 0;
    color: #5a5b5b;
    background-color: #fff;
    border: 1px solid #ced0d4;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 3px;
}

.form-control:focus {
    border-color: var(--light-blue);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px var(--light-blue);
    outline: 0 none;
}

.nameComponentChangeBtnWrapper {
    padding: 10px 0;
}

.cancelBtn {
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    min-width: 120px;
    border: none;
    white-space: nowrap;
    outline: 0;
    line-height: 1.4;
    padding: 10px 40px;
    border-radius: 3px;
    background-color: #fff;
    color: #5392f9;
    cursor: pointer;
}

.cancelBtn:hover {
    background-color: #5392f9;
    color: white;
}

.saveBtn {
    font-weight: bold;

    margin-right: 5px;
    display: inline-block;
    min-width: 120px;
    border: none;
    white-space: nowrap;
    outline: 0;
    line-height: 1.4;
    padding: 10px 40px;
    border-radius: 3px;
    background-color: #5392f9;
    color: white;
    cursor: pointer;
}

/* Email Component */

.emailComponent {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    letter-spacing: .6px;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.78;
    margin-bottom: 10px;
    color: #5a5b5b;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
}

.emailVerified {
    padding: 24px 20px;
    /* height: 103px; */
}

.emailVerified > h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 2.04;
    letter-spacing: .6px;
}

.emailHolder {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.78;
}

.verified {
    margin-left: 17px;
    background-color: #4cc5d3;
    color: #fff;
    padding: 4px 11px;
    border-radius: 3px;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 10px;
}

.emailUnVerified {
    border-left: 5px solid #fdb657;
    margin-top: 13px;
    height: 40px;
    border-top: 1px solid #fdb657;
    border-right: 1px solid #fdb657;
    border-bottom: 1px solid #fdb657;
}

.emailComponentWarning {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 200;
    line-height: 2.38;
}

.warningLogo {
    color: #fb8c00;
    margin-left: 20px;
    margin-right: 10px;
}

.emailVerifyBtn {
    margin-right: 10px;
    color: #0283df;
    font-size: 12px;
    font-weight: 200;
    line-height: 2.38;
}

/* Phone Number */

.PhoneNumber {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: .6px;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.78;
    margin-bottom: 10px;
    color: #5a5b5b;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
}

.PhoneNumber > div {
    padding: 24px 20px;
    height: 103px;
}

.displayPhone {
    float: left;
}

.editPhone {
    float: right;
    margin-top: 16px;
    color: #0283df;
}

.editPhone > span {
    cursor: pointer;
}

.displayPhone > h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 2.04;
    display: inline;
}

/* PhoneNumber */

.displayPhone > h1 {
    color: #737373;
}

/* SaveCredit */

.section {
    height: 85px;
    padding: 23px 20px 24px;
    color: #5a5b5b;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
}

.section > h2 {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 2.04;
}

.section > div {
    display: flex;
    justify-content: center;
    align-self: center;
}

.toggleMessageSaved {
    margin: 0 10px;
    color: #87c057;
    display: none;
}

.toggleMessageFailed {
    margin: 0 10px;
    color: #c50000;
    display: none;
}

.buttonToggleEvent {
    margin-left: 20px;
    margin-right: 10px;
}

/* ToggleSwitch */

.toggleIT {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggleBtnWrapper {
    margin-left: 12px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.125rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  #8e8e8e;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.625rem;
    width: 1.625rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0095f6;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0095f6;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.625rem);
    -ms-transform: translateX(1.625rem);
    transform: translateX(1.625rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 2.125rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.paymentMethods {
    padding-top: 32px;
    padding-bottom: 8px;
}

.paymentMethods > h1 {
    padding: 0 0 20px;
    font-size: 22px;
    font-weight: 200;
    line-height: .91;
}

/* Newsletter */
.newsletter {
    height: auto;
    padding: 18px 20px 24px;
    color: #5a5b5b;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.78;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);

}

.newsletter > div {
    display: flex;
    align-items: center;
}

.newsletter > div > h2 {
    margin-right: 10px;
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 2.04;
}

.newsletterOptions {
    width: 70%;
    color: #5a5b5b;
    display: flex;
    align-items: center;
    /* gap: 12px; */
    justify-content: space-between;
    border: none;
}

.newsletterRadioBtn {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Payment */
.paymentWrapper {
    cursor: pointer;
    height: auto;
    padding: 18px 20px 24px;
    color: #5a5b5b;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.78;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
    width: 269px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plusIcon {
    color: #0095f6;
    font-size: 25px;
}

.paymentWrapper > p {
    color: #0095f6;
    margin-top: 15px;
}