/* Account */

.accountDetails {
    margin: 0px 8px;
}

.accountDetails > div {
    display: inline-block;
    position: relative;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    border-left: none;
    border-right: none;
}

.accountDp {
    text-align: center;
    border-radius: 50%;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    display: inline-block;
    color: rgb(249, 249, 250);
    background-color: rgb(240, 87, 0);
    margin-right: 12px;
}

.accountDp > h1 {
    margin: 0px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.accountName {
    margin-right: 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    white-space: nowrap;
    flex-flow: column wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.accountName > p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}


.accountAmmount {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
}

.accountAmmount > span {
    margin-right: 0px;
    display: flex;
    z-index: 1400;
}

.giftCardIcon {
    margin-right: 4px;
}

.giftCardIcon > svg {
    font-size: 16px;
}

.giftCardBalance {
    margin-right: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: rgb(112, 77, 255);
}

.dropDownMenu {
    position: absolute;
    z-index: 1400;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(1425px, 5px, 0px);

}