/* Account */

.accountDetails {
    margin: 0px 8px;
}

.accountDetails > div {
    display: inline-block;
    position: relative;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    border-left: none;
    border-right: none;
}

.accountDp {
    text-align: center;
    border-radius: 50%;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    display: inline-block;
    color: rgb(249, 249, 250);
    background-color: rgb(240, 87, 0);
    margin-right: 12px;
}

.accountDp > h1 {
    margin: 0px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.accountName {
    margin-right: 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    white-space: nowrap;
    flex-flow: column wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.accountName > p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}

.vipTag {
    display: inline-block;
    position: relative;
    padding: 0px;
    min-height: 20px;
    position: relative;
    display: inline-flex;
    overflow: hidden;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(29, 33, 41) 90%, transparent);
    direction: ltr;
}

.vipHead {
    padding-right: 4px;
    padding-left: 8px;
    min-width: 41px;
    z-index: 2;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.vipHead > img {
    vertical-align: middle;
    border: 0;
}

.accountLevel {
    border-radius: 0px 2px 2px 0px;
    transform: scaleX(1);
    padding-right: 8px;
    padding-left: 12px;
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    background: linear-gradient(90deg, rgb(231, 172, 140) 0%, rgb(207, 125, 78) 100%);
}

.accountLevel > span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: rgb(42, 42, 46);
    transform: scaleX(1);
}

.slash1 {
    transform: rotate(20deg);
    width: 4px;
    height: 60px;
    position: absolute;
    bottom: -12px;
    left: 3px;
    z-index: 1;
    background-color: rgb(207, 125, 78);
}

.slash2 {
    transform: rotate(20deg);
    width: 8px;
    height: 60px;
    position: absolute;
    bottom: -12px;
    left: -4px;
    z-index: -1;
    background-color: rgb(29, 33, 41);
}

.accountAmmount {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
}

.accountAmmount > span {
    margin-right: 0px;
    display: flex;
    z-index: 1400;
}

.giftCardIcon {
    margin-right: 4px;
}

.giftCardIcon > svg {
    font-size: 16px;
}

.giftCardBalance {
    margin-right: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: rgb(112, 77, 255);
}

.dropDownMenu {
    position: absolute;
    z-index: 1400;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(1425px, 5px, 0px);

}