@import url('https://fonts.cdnfonts.com/css/mallory');
/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-9'); */
@import url('https://fonts.cdnfonts.com/css/arial');


:root {
    --light-blue : #5392f9;
    --white : #fff;
    --black-shade : rgb(42, 42, 46);
    --red-tag : rgb(225, 45, 45);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mallory','Helvetica Neue', 'Arial', sans-serif;
}