

.profilePageWrapper {
    width: 1100px;
    background-color: #f9f9f9;
    margin: 0 auto;
    clear: both;
}

.leftPanel {
    z-index: -1;
    height: 100%;
    background: linear-gradient(90deg,#f8f7f9,#fff);
    box-shadow: 7px 0 8px #e9ebee;
    display: table-cell;
    width: 218px;
}

.rightPanel {
    display: table-cell;

    min-height: 500px;
    /* background-color: black; */
    width: 831px;
    padding-left: 35px;
    padding-bottom: 80px;
}

.leftPanelUnderLine {
    background-color: #ededed;
    width: 220px;
    height: 2px;
    margin: 30px 0 40px;
}